@import url(//db.onlinewebfonts.com/c/03f087c0a47a904df89455d3f445340b?family=Computer+Speak+v0.3);
body {
  width: 100vw;
  overflow-x: hidden;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    margin: auto;
    font-size: 30px;
}

.logo {
    text-align:center;
    width:20%;
    display:block;
    margin:auto;
    padding: 0;
}

.aam {
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

h2 {
    font-family: 'Caveat', cursive;
}


p {
    font-family: Arial, sans-serif;
}

#about {
 background-image: url(profile-pic.jpg);
 background-repeat: no-repeat;
 height: 150vh;
position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .about a:hover {
    background-color: #eb2127;
  }

  .work a:hover {
    background-color: #8dc440;
  }

  .contact a:hover {
    background-color: #00aeef;
  }

  .mepic {
    width: 60%;
    position: relative;
  }



  .tote {
    width: 100%;

  }
  .Cereal {
    width: 30%;
  }
  .lily {
    width: 50%;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

.projects {
  background-color: white;
}
.contact {
  display: flex;
  justify-content: center;
 
}
.name {
  color: #eb2127;
  width: 15%;
}
.email {
  color: #8dc440;
  width: 15%;
}
.message {
  color: #00aeef;
  width: 15%;
}

.intro {
  text-align: center; 
  position: relative;
  top: 700px;
  left: 700px;
  width: 300px;
}
.socials {
  display: flex;
  justify-content: space-evenly;

}


ol {
  font-size: 150%;
  display: block;
  display: flex;
  justify-content: space-around;
}
.skills {
  background-color: #eb2127;
  color: white;
  height: 100px;
  padding: 25px;
}
.worked {
  background-color: #8dc440;
  height: 100px;
  padding: 25px;
  color: white;
}
  
.works3 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

}
.contacts {
  background-color: #00aeef;
  height: 100px;
  padding: 25px;
  color: white;
}
.me3 {
 width: 50%;
 display: flex;
 justify-content: end;
}
.footerimages {
  display: flex;
  justify-content: space-between;
  
}
.bluntselfie {
  width: 50%;
}